language: ruby

sudo: false

services: memcache

rvm:
  - 2.0.0
  - 2.1
  - 2.2
  - ruby-head

cache:
  bundler: true
  directories:
    - node_modules
    - bower_components

# ignored --deployment option
bundler_args: "--without server --jobs=3 --retry=3"

before_install:
  - "echo 'gemspec' > Gemfile.local"

before_script:
  - npm install
  - grunt

script: if [ $TEST_MODE = "gem" ] ; then bundle exec tdiary test ; else bundle exec rake spec jasmine:ci test ; fi

env:
  - TEST_MODE=rack
  - TEST_MODE=secure
  - TEST_MODE=gem

notifications:
  irc: "irc.freenode.org#tdiary"
