<%%= navi %>
<%=@conf['category.header1'] %>
<h1><%=h @conf.html_title %> <%%=h category_title %></h1>
<%= @conf['category.header2'] %>
<hr class="sep">
<%%= category_list_sections %>
<hr class="sep">
<%%= category_form %>
<hr class="sep">
