<%# category.rhtml $Revision: 1.7 $ %>
<%%= navi %>
<%= @conf['category.header1'] %>
<h1><%= CGI::escapeHTML( @conf.html_title ) %> <%%= category_title %></h1>
<%= @conf['category.header2'] %>
<hr class="sep">
<%%= category_list_sections %>
<hr class="sep">
<%%= category_form %>
<hr class="sep">
