<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><%# header.rhtml $Revision: 1.1 $ %>
<html lang="ja-JP">
<head>
<%%=header_proc%%>
</head>
<body>
<% if @error then %><p class="message">Security Error<br><%= @error %></p><% end %>
