<%# search.rhtml %>
<%= @conf.header %>
<hr class="sep">
<div class="day">
<h2><%%= search_title %></h2>
<div class="body">
<%%= search_result %>
</div>
<div class="comment">
</div>
</div>
<hr class="sep">

<%= @conf.footer %>
