<%%= mobile_navi %><%%= category_navi %>
<H1><%=h @conf.html_title %> <%%=h category_title %></H1>
<%%= category_list_sections_mobile %>
<%%= category_form %>
<%%= mobile_navi %><%%= category_navi %>
<%%= category_dropdown_list %>
