/*
shared style sheet for tDiary.

usage:
   @import url(../base.css);
*/

/*
for printer
*/
@media print {
	div.adminmenu { display: none; }
	div.footer { display: none; }
	div.sidebar { display: none; }
}

/*
nyear
*/
h2 span.nyear {
	font-size: small;
}
