name: ubuntu

on: [push, pull_request]

jobs:
  build:
    name: build (${{ matrix.ruby }}/${{ matrix.test_mode }})
    strategy:
      matrix:
        ruby: [ '3.4', '3.3', '3.2', '3.1' ]
        test_mode: [ rack, gem ]
    runs-on: ubuntu-latest
    services:
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
      if: matrix.test_mode == 'rack'
    - name: Install dependencies
      run: |
        echo 'gemspec' > Gemfile.local
        bundle install --without server --jobs=3 --retry=3
        npm install
    - name: Run test
      run: bundle exec tdiary test
      if: matrix.test_mode == 'gem'
    - name: Run test (rack)
      run: |
        bundle exec rake spec test
        npm install
        npm test
      env:
        OPENSSL_CONF: /etc/ssl
      if: matrix.test_mode == 'rack'
