@charset "utf-8";
/*
Title: tDiary1 Default
Revision: $Revision: 1.5 $
Author: TADA Tadashi
Access: sho@spc.gr.jp
License: GPL2 or any later version
Comment: default theme for tDiart 1.x

validated by W3C.
 */

/*
共通設定の読み込み
*/
@import url(../base.css);

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: white;
	color: black;
}

/*
リンク文字列に関する設定
*/
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: small;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: #ddd;
	color: #000000;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: center;
}

/*
カレンダーの設定
*/
div.calendar {
	background-color: #ddd;
	color: #000000;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	background-color: #ddd;
	color: #000000;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

/*
タイトル行全体の設定
*/
h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/*
日付の設定
*/
span.date {
	font-size: large;
	margin-left: 0.5em;
}

/*
タイトルの設定
*/
span.title {
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: #eee;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
	margin-right: 1em;
}

/*
サブタイトルの設定
*/
h3.subtitle {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/
/*
div.day span.sanchor {
	background-image: url(default_sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(default_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

*/

/*
日記の本文(段落)の設定
*/
p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	font-size: small;
	background-color: #eee;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-right: 1em;
}

/*
ツッコミ欄タイトル行の設定
*/
div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}

/*
ツッコミした人の名前の設定
*/
span.commentator {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

/*
リンク元リスト(短い方)の設定
*/
div.referer {
	text-align: right;
	font-size: small;
	background-color: #eee;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
	margin-right: 1em;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	font-size: small;
	background-color: #eee;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-right: 1em;
}

/*
リンク元リスト一覧の設定
*/
ul.referer {
	margin-top: 0em;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: #eee;
	color: #000000;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0.5em 1em 0.5em 2em;
}

/*
入力フィールドの設定
*/
input.field {
	background-color: white;
	color: #000000;
}

/*
複数行入力フィールドの設定
*/
textarea {
	background-color: white;
	color: #000000;
	margin-left: 1em;
	width: 30em;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: black;
	color: #ff8000;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

/*
引用(blockquoteタグ)の設定
*/
blockquote {
	border-style: solid;
	border-color: #ddd;
	border-width: 2px;
	margin-left: 3em;
	margin-right: 3em;
	padding: 4px 4px 4px 4px;
}

/*
項目リストの設定
*/
dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 100%;
	border-width: 0px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: xx-small;
}

div.footnote {
	border-style: solid;
	border-color: #ddd;
	border-width: 1px 0px 0px 0px;
	margin-left: 3em;
	font-size: small;
}
